@using Project.Models;
@model IList<Subject>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<main id="main" class="main">
    <div class="pagetitle">
        <h2>Danh sách học phần</h2>
    </div>

    <p>
        <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="Subject" asp-action="Create">
            <i class="bi bi-file-earmark-text me-1">Thêm học phần</i>
        </a>
    </p>

    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body mt-4">
                        <table class="table table-borderless datatable">
                            <thead>
                                <tr>
                                    <th class="col-1 text-center">#</th>
                                    <th class="col-3 text-center">Tiêu đề</th>
                                    <th class="col-2 text-center">Mô tả</th>
                                    
                                    <th class="col-2 text-center">Chức năng</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th class="text-center" scope="row">@item.SubjectId</th>
                                        <td><a asp-controller="Menu" asp-action="Details" asp-route-id="@item.SubjectId" class="text-primary">@item.SubjectName</a></td>
                                        <td class="text-center">@item.Description</td>
                                       
                                        
                                        <td class="text-center">
                                            <a asp-area="Admin" asp-controller="Subject" asp-action="Edit" asp-route-id="@item.SubjectId" class="btn btn-primary btn-sm" title="Sửa thông tin học phần"><i class="bi bi-pencil"></i></a>
                                            <a asp-area="Admin" asp-controller="Subject" asp-action="Delete" asp-route-id="@item.SubjectId" class="btn btn-danger btn-sm" title="Xóa thông tin học phần"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>